<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.minjus.sisarb.model.mapper.InstitucionSecretarioMapper">

    <sql id="columnsSelect">
        IS.SECRETARIO_ID,
        IS.INSTITUCION_ID,
        IS.AUDIT_USUARIO_CREACION,
        IS.AUDIT_FECHA_CREACION,
        IS.AUDIT_USUARIO_MODIFICA,
        IS.AUDIT_FECHA_MODIFICA,

        TO_CHAR(IS.AUDIT_FECHA_CREACION, 'yyyy-mm-dd hh24:mi')  AUDIT_FECHA_CREACION_FORMAT,
        TO_CHAR(IS.AUDIT_FECHA_MODIFICA, 'yyyy-mm-dd hh24:mi') AUDIT_FECHA_MODIFICA_FORMAT
    </sql>

    <sql id="columnsInsert">
        INSTITUCION_ID,
        SECRETARIO_ID,
        ACTIVO,
        AUDIT_USUARIO_CREACION,
        AUDIT_FECHA_CREACION
    </sql>

    <resultMap id="resultlistPaginated" type="pe.gob.minjus.sisarb.model.domain.InstitucionSecretario">
        <id  property="institucionId"                   column="INSTITUCION_ID"  />
        <id  property="secretario.secretarioId"         column="SECRETARIO_ID"  />
        <result property="auditUsuarioCreacion"         column="AUDIT_USUARIO_CREACION" />
        <result property="auditFechaCreacion"           column="AUDIT_FECHA_CREACION" />
        <result property="auditUsuarioModifica"         column="AUDIT_USUARIO_MODIFICA" />
        <result property="auditFechaModifica"           column="AUDIT_FECHA_MODIFICA" />

        <result property="auditFechaCreacionFormat"     column="AUDIT_FECHA_CREACION_FORMAT" />
        <result property="auditFechaModificaFormat"     column="AUDIT_FECHA_MODIFICA_FORMAT" />
    </resultMap>

    <select id="listPaginated" resultMap="resultlistPaginated" parameterType="pe.gob.minjus.sisarb.model.request.InstitucionSecretarioBusquedaRequest">
        SELECT
        <include refid="columnsSelect">
        </include>
        <include refid="listPaginateFrom">
        </include>
        <include refid="listPaginatedWhere">
            <property name="institucionId" value="institucionId"/>
            <property name="secretarioId" value="secretarioId"/>
            <property name="secretario.personaNatural.numeroDocumento" value="secretario.personaNatural.numeroDocumento"/>
            <property name="auditUsuarioCreacion" value="auditUsuarioCreacion"/>
            <property name="auditFechaCreacion" value="auditFechaCreacion"/>
            <property name="auditUsuarioModifica" value="auditUsuarioModifica"/>
            <property name="auditFechaModifica" value="auditFechaModifica"/>
        </include>
        OFFSET #{filaInicio,jdbcType=INTEGER} ROWS FETCH NEXT #{cantidadPorPagina,jdbcType=INTEGER} ROWS ONLY
    </select>

    <sql id="listPaginatedWhere">
        WHERE S.ACTIVO=1
        <if test="institucionId!=null"> AND IS.INSTITUCION_ID = #{institucionId} </if>
        <if test="secretarioId!=null"> AND IS.SECRETARIO_ID = #{secretarioId} </if>
        <if test="secretario.personaNatural.numeroDocumento!=null"> AND TRIM(PN.NUMERO_DOCUMENTO) = TRIM(#{secretario.personaNatural.numeroDocumento}) </if>
        <if test="auditUsuarioCreacion!=null and auditUsuarioCreacion!=''">
            AND TRIM(UPPER( IS.AUDIT_USUARIO_CREACION))) LIKE '%'||TRIM(UPPER((#{auditUsuarioCreacion}))||'%'
        </if>
        <if test="auditFechaCreacion!=null and auditFechaCreacion!=''">
            AND TO_CHAR(IS.AUDIT_FECHA_CREACION, 'yyyy-mm-dd hh24:mi:ss') LIKE '%'||UPPER(#{auditFechaCreacion})||'%'
        </if>
        <if test="auditUsuarioModifica!=null and auditUsuarioModifica!=''">
            AND TRIM(UPPER(IS.AUDIT_USUARIO_MODIFICA)) LIKE '%'||TRIM(UPPER(#{auditUsuarioModifica}))||'%'
        </if>
        <if test="auditFechaModifica!=null and auditFechaModifica!=''">
            AND TO_CHAR(IS.AUDIT_FECHA_MODIFICA, 'yyyy-mm-dd hh24:mi:ss') LIKE '%'||UPPER(#{auditFechaModifica})||'%'
        </if>
    </sql>


    <sql id="listPaginateFrom">
        FROM TRS_INSTITUCION_SECRETARIO S, TRS_PERSONA_NATURAL PN, TRS_INSTITUCION_SECRETARIO IS, TRS_INSTITUCION I
        WHERE S.PERSONA_NATURAL_ID = PN.PERSONA_NATURAL_ID
        AND IS.INSTITUCION_ID = I.INSTITUCION_ID
        AND IS.SECRETARIO_ID = S.SECRETARIO_ID
    </sql>


    <!-- Query para calcular el total -->
    <select id="listPaginatedTotal" resultType="java.lang.Integer" parameterType="pe.gob.minjus.sisarb.model.request.SecretarioBusquedaRequest">
        select count(1) total
        <include refid="listPaginateFrom">
        </include>
        <include refid="listPaginatedWhere">
            <property name="institucionId" value="institucionId"/>
            <property name="secretarioId" value="secretarioId"/>
            <property name="secretario.personaNatural.numeroDocumento" value="secretario.personaNatural.numeroDocumento"/>
            <property name="auditUsuarioCreacion" value="auditUsuarioCreacion"/>
            <property name="auditFechaCreacion" value="auditFechaCreacion"/>
            <property name="auditUsuarioModifica" value="auditUsuarioModifica"/>
            <property name="auditFechaModifica" value="auditFechaModifica"/>
        </include>
    </select>

    <insert id="save"  parameterType="pe.gob.minjus.sisarb.model.domain.InstitucionSecretario">
        INSERT INTO TRS_INSTITUCION_SECRETARIO (<include refid="columnsInsert" />) values
        (
        #{institucionId, jdbcType=INTEGER},
        #{secretarioId, jdbcType=INTEGER},
        1,
        TRIM(UPPER(#{auditUsuarioCreacion,jdbcType=VARCHAR})),
        sysdate)
    </insert>

    <update id="update" parameterType="pe.gob.minjus.sisarb.model.domain.InstitucionSecretario">
        UPDATE TRS_INSTITUCION_SECRETARIO
        SET
        AUDIT_FECHA_MODIFICA=sysdate
        <if test="activo!=null and activo!=''">,ACTIVO =#{activo, jdbcType=INTEGER} </if>
        <if test="auditUsuarioModifica != null and auditUsuarioModifica!=''">, AUDIT_USUARIO_MODIFICA=TRIM(UPPER(#{auditUsuarioModifica, jdbcType=VARCHAR})) </if>
        WHERE SECRETARIO_ID=#{secretario.secretarioId, jdbcType=INTEGER} AND INSTITUCION_ID=#{institucionId, jdbcType=INTEGER}
    </update>

    <select id="findById" resultMap="resultlistPaginated" parameterType="pe.gob.minjus.sisarb.model.domain.InstitucionSecretario">
        SELECT
        <include refid="columnsSelect">
        </include>
        FROM TRS_INSTITUCION_SECRETARIO
        WHERE SECRETARIO_ID=#{secretario.secretarioId, jdbcType=INTEGER} AND INSTITUCION_ID=#{institucionId, jdbcType=INTEGER}
    </select>

    <update id="deleteById" parameterType="java.lang.Integer">
        UPDATE TRS_INSTITUCION_SECRETARIO
        SET
        where SECRETARIO_ID=#{secretario.secretarioId, jdbcType=INTEGER} AND INSTITUCION_ID=#{institucionId, jdbcType=INTEGER}
    </update>


</mapper>