<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.minjus.sisarb.model.mapper.SecretarioMapper">

    <sql id="columnsSelect">
        S.SECRETARIO_ID,
        S.PERSONA_NATURAL_ID,
        S.AUDIT_USUARIO_CREACION,
        S.AUDIT_FECHA_CREACION,
        S.AUDIT_USUARIO_MODIFICA,
        S.AUDIT_FECHA_MODIFICA,

        TO_CHAR(S.AUDIT_FECHA_CREACION, 'yyyy-mm-dd hh24:mi')  AUDIT_FECHA_CREACION_FORMAT,
        TO_CHAR(S.AUDIT_FECHA_MODIFICA, 'yyyy-mm-dd hh24:mi') AUDIT_FECHA_MODIFICA_FORMAT
    </sql>

    <sql id="columnsInsert">
        SECRETARIO_ID,
        PERSONA_NATURAL_ID,
        ACTIVO,
        AUDIT_USUARIO_CREACION,
        AUDIT_FECHA_CREACION
    </sql>


    <resultMap id="resultlistPaginated" type="pe.gob.minjus.sisarb.model.domain.Secretario">
        <id  property="secretarioId"                    column="SECRETARIO_ID"  />
        <result property="personaNatural.personaNaturalId"             column="PERSONA_NATURAL_ID" />
        <result property="auditUsuarioCreacion"         column="AUDIT_USUARIO_CREACION" />
        <result property="auditFechaCreacion"           column="AUDIT_FECHA_CREACION" />
        <result property="auditUsuarioModifica"         column="AUDIT_USUARIO_MODIFICA" />
        <result property="auditFechaModifica"           column="AUDIT_FECHA_MODIFICA" />

        <result property="auditFechaCreacionFormat"     column="AUDIT_FECHA_CREACION_FORMAT" />
        <result property="auditFechaModificaFormat"     column="AUDIT_FECHA_MODIFICA_FORMAT" />
    </resultMap>

    <select id="listPaginated" resultMap="resultlistPaginated" parameterType="pe.gob.minjus.sisarb.model.request.SecretarioBusquedaRequest">
        SELECT
        <include refid="columnsSelect">
        </include>
        <include refid="listPaginateFrom">
        </include>
        <include refid="listPaginatedWhere">
            <property name="numeroDocumento" value="numeroDocumento"/>
            <property name="auditUsuarioCreacion" value="auditUsuarioCreacion"/>
            <property name="auditFechaCreacion" value="auditFechaCreacion"/>
            <property name="auditUsuarioModifica" value="auditUsuarioModifica"/>
            <property name="auditFechaModifica" value="auditFechaModifica"/>
        </include>
        OFFSET #{filaInicio,jdbcType=INTEGER} ROWS FETCH NEXT #{cantidadPorPagina,jdbcType=INTEGER} ROWS ONLY
    </select>

    <sql id="listPaginatedWhere">
        WHERE S.ACTIVO=1
        <if test="numeroDocumento!=null"> AND TRIM(PN.NUMERO_DOCUMENTO) = TRIM(#{numeroDocumento}) </if>
        <if test="auditUsuarioCreacion!=null and auditUsuarioCreacion!=''">
            AND TRIM(UPPER( S.AUDIT_USUARIO_CREACION))) LIKE '%'||TRIM(UPPER((#{auditUsuarioCreacion}))||'%'
        </if>
        <if test="auditFechaCreacion!=null and auditFechaCreacion!=''">
            AND TO_CHAR(S.AUDIT_FECHA_CREACION, 'yyyy-mm-dd hh24:mi:ss') LIKE '%'||UPPER(#{auditFechaCreacion})||'%'
        </if>
        <if test="auditUsuarioModifica!=null and auditUsuarioModifica!=''">
            AND TRIM(UPPER(S.AUDIT_USUARIO_MODIFICA)) LIKE '%'||TRIM(UPPER(#{auditUsuarioModifica}))||'%'
        </if>
        <if test="auditFechaModifica!=null and auditFechaModifica!=''">
            AND TO_CHAR(S.AUDIT_FECHA_MODIFICA, 'yyyy-mm-dd hh24:mi:ss') LIKE '%'||UPPER(#{auditFechaModifica})||'%'
        </if>
    </sql>


    <sql id="listPaginateFrom">
        FROM TRS_SECRETARIO S, TRS_PERSONA_NATURAL PN WHERE S.PERSONA_NATURAL_ID = PN.PERSONA_NATURAL_ID
    </sql>


    <!-- Query para calcular el total -->
    <select id="listPaginatedTotal" resultType="java.lang.Integer" parameterType="pe.gob.minjus.sisarb.model.request.SecretarioBusquedaRequest">
        select count(1) total
        <include refid="listPaginateFrom">
        </include>
        <include refid="listPaginatedWhere">
            <property name="nombre" value="nombre"/>
            <property name="auditUsuarioCreacion" value="auditUsuarioCreacion"/>
            <property name="auditFechaCreacion" value="auditFechaCreacion"/>
            <property name="auditUsuarioModifica" value="auditUsuarioModifica"/>
            <property name="auditFechaModifica" value="auditFechaModifica"/>
        </include>
    </select>

    <insert id="save"  parameterType="pe.gob.minjus.sisarb.model.domain.Secretario">
        <selectKey keyProperty="secretarioId" order="BEFORE" resultType="java.lang.Integer">
            SELECT SEQ_TRS_SECRETARIO.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TRS_SECRETARIO (<include refid="columnsInsert" />) values
        (
        #{secretarioId, jdbcType=INTEGER},
        #{personaNatural.personaNaturalId, jdbcType=INTEGER},
        1,
        TRIM(UPPER(#{auditUsuarioCreacion,jdbcType=VARCHAR})),
        sysdate)
    </insert>

    <update id="update" parameterType="pe.gob.minjus.sisarb.model.domain.Secretario">
        UPDATE TRS_SECRETARIO
        SET
        AUDIT_FECHA_MODIFICA=sysdate
        <if test="personaNatural.personaNaturalId != null">,PERSONA_NATURAL_ID =#{personaNatural.personaNaturalId, jdbcType=INTEGER} </if>
        <if test="auditUsuarioModifica != null and auditUsuarioModifica!=''">, AUDIT_USUARIO_MODIFICA=TRIM(UPPER(#{auditUsuarioModifica, jdbcType=VARCHAR})) </if>
        where SECRETARIO_ID=#{secretarioId, jdbcType=INTEGER}
    </update>

    <select id="findById" resultMap="resultlistPaginated" parameterType="java.lang.Integer">
        SELECT
        <include refid="columnsSelect">
        </include>
        FROM TRS_SECRETARIO
        WHERE ACTIVO=1 AND SECRETARIO_ID = #{id, jdbcType=INTEGER}
    </select>

    <update id="deleteById" parameterType="java.lang.Integer">
        UPDATE TRS_SECRETARIO
        SET
        ACTIVO=0
        where SECRETARIO_ID=#{id, jdbcType=INTEGER}
    </update>


    <select id="listByField" resultMap="resultlistPaginated" parameterType="pe.gob.minjus.sisarb.model.domain.PersonaNatural">
        SELECT
        <include refid="columnsSelect">
        </include>
        FROM TRS_SECRETARIO S
        <include refid="listByFieldWhere">
            <property name="personaNatural.personaNaturalId" value="personaNatural.personaNaturalId"/>
        </include>
    </select>

    <sql id="listByFieldWhere">
        WHERE 1=1
        <if test="personaNatural.personaNaturalId!=null"> AND PERSONA_NATURAL_ID=#{personaNatural.personaNaturalId} </if>
    </sql>


</mapper>